.survivors {
  clip-path: url(#survivors-clip);
}

.item-parishoot {
  clip-path: url(#what-clip);
}

.bottle {
  clip-path: url(#atsui-clip);
}

.fourth-card {
  clip-path: url(#enter-clip);
}

.fifth-card {
  clip-path: url(#summit-clip);
}
.sixth-card {
  clip-path: url(#partner-clip);
}

.number {
  -webkit-text-stroke: 1px #000;
  color: white;
  font-size: 5rem;
  font-weight: 900;
}

.animation {
  transition: all 0.4s ease 0s;
}
.item:hover .card-outline {
  opacity: 1;
}

.item:hover .survivor-title {
  transform: translate3d(10%, 0, 0);
}
.item:hover .number {
  transform: translate3d(-20%, 0, 0);
}
.item:hover .survivor-arrow {
  opacity: 1;
}
.item:hover .survivor-girl {
  transform: translate3d(10%, 0, 0) scale(1.3);
}
