.survivors {
  clip-path: url(#survivors-clip);
}

.item-parishoot {
  clip-path: url(#what-clip);
}

.bottle {
  clip-path: url(#atsui-clip);
}

.fourth-card {
  clip-path: url(#enter-clip);
}

.fifth-card {
  clip-path: url(#summit-clip);
}
.sixth-card {
  clip-path: url(#partner-clip);
}

.number {
  position: absolute;
  left: 1rem;
  top: 3rem;
  -webkit-text-stroke: 1px #000;
  color: white;
  font-size: 4rem;
}

.animation {
  transition: all 0.4s ease 0s;
}
.item:hover .card-outline {
  opacity: 1;
}
